@import '../_variables.scss';

.mission {
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
  }

  &__bg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30rem;
    background: url("../../images/rocket.png") center / cover no-repeat;


  }
  &__buttons {
    &--bStyle {
      min-width: 240px;
      min-height: 35px;
      margin-left: 1rem;
      margin-bottom: 2rem;
      padding: 0 3rem;
      color: #fff;
      background: rgba(0, 0, 0, 0);
      border: 1px solid #fff;
      border-radius: 40px;
      text-transform: uppercase;
      font: bolder 0.875rem "Open Sans", sans-serif;
      text-align: center;
      letter-spacing: 1px;
      cursor: pointer;
      &:active {
        border: 1px solid #fff;
      }
    }
  }

  &__heading {
    margin-bottom: 2rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 18px;
    text-transform: uppercase;

  }
}
